/*===========================*/
/*=           MAIN          =*/
/*===========================*/

body {
    /* text */
    font-family: "Calisto MT", "Bookman Old Style", "Bookman,Goudy Old Style", "Garamond,Hoefler Text", "Bitstream Charter", "Georgia,serif";
    text-align: center;

    /* background*/
    background-color: black;
}

main {
    /* size */
    margin: auto;
    margin-top: 10px;
    max-width: 800px;

    /* background */
    background-color: white;
    border-radius: 25px;
}

.flex {
    height: 130px;
    * {
        position: relative;
        z-index: 999;
    }
}

/*===========================*/
/*=           TEXT          =*/
/*===========================*/

h1 {
    /* size */
    margin: auto;
    width: fit-content;
    padding: 5px;

    /* text */
    font-size: 80px;
    text-decoration: underline;
    font-weight: bolder;
    text-shadow: 1px 0 black;

    /* background */
    background-color: brown;
    border: 10px solid white;
}

p.red {
    /* text */
    color: brown;
    font-weight: bolder;
}

p.black {
    /* size */
    margin: 20px;
    padding: 10px;

    /* text */
    font-size: large;
    color: white;

    /* background */
    background-color: black;
}

p.scroll {
    /* size */
    margin: 20px;
    padding: 10px;

    /* text */
    font-style: italic;

    /* background */
    background-color: lightyellow;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

/*===========================*/
/*=         DIVIDER         =*/
/*===========================*/

hr.title {
    border: 30px solid brown;
    top: -100px;
    z-index: 1;
}
